{% extends 'base.html' %} {% block content %}
<br />
{% include "menu.html" %} {% if request.user.is_authenticated %}
<table>
  <tr>
    <td style="padding: 20px; vertical-align: top">
      {% include "profile.html" %}
    </td>
    <td style="padding: 20px; vertical-align: top">
      <h2>Whats happenning, {{ request.user.username }}?</h2>
      {% for tweet in all_tweets %}
      <h3>
        <span class="small"
          ><a href="user/{{ tweet.twitter_user.id }}/"
            >@{{ tweet.twitter_user }}</a
          >
          - <a href="tweet/{{ tweet.id }}/">{{tweet.submission_time}}</a></span
        ><br />
        {{ tweet.body }}
      </h3>
      {% endfor %}
    </td>
  </tr>
</table>

<br />
{% else %}
<h1>Welcome.You are not logged in</h1>
<h2>Please <a href="/login/">login</a> to continue.</h2>
{% endif %} {% endblock %}
