{% extends 'base.html' %} {% block content %}
<br />
<div align="right">
  <a href="/" class="btn btn-primary">Home</a>&nbsp;
  <a href="/login/" class="btn btn-primary">Login</a>&nbsp;<a
    href="/logout/"
    class="btn btn-primary"
    >Logout</a
  >{% if not request.user.is_authenticated %}&nbsp;<a
    href="/signup/"
    class="btn btn-primary"
    >Signup</a
  >{% endif %}{% if request.user.is_authenticated %}&nbsp;<a
    href="/addtweet/"
    class="btn btn-primary"
    >Add Tweet</a
  >&nbsp;<a
    href="/user/{{ request.user.id }}/notifications"
    class="btn btn-primary"
    >Notifications - {{ number_notifications }}</a
  >{% endif %}
</div>
<table>
  <tr>
    <td style="padding: 20px; vertical-align: top">
      <div class="card">
        <div class="card-header">
          <h1>
            {{ request.user.first_name }} {{ request.user.last_name }}
            <br /><span class="small">
              <a href="/user/{{ profile_user.id }}/"
                >@{{ request.user.username}}</a
              >
            </span>
          </h1>
        </div>
        <div class="card-body">
          <h4 class="card-text">Tweets: {{ number_tweets }}</h4>
          <h4>Following:</h4>
          <a href="/logout/" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </td>
    <td style="padding: 20px; vertical-align: top">
      <h2>Notifications</h2>
      {% for tweet in notification_tweet %}
      <h3>
        <span class="small"
          ><a href="/user/{{ tweet.notification_tweets.twitter_user.id}}/"
            >@{{ tweet.notification_tweets.twitter_user }}</a
          >
          -
          <a href="/tweet/{{ tweet.notification_tweets.id }}/"
            >{{tweet.notification_tweets.submission_time}}</a
          ></span
        ><br />
        {{ tweet }}
      </h3>
      {% endfor %}
    </td>
  </tr>
</table>
<br />
{{delete_info}} {% endblock %}
