{% extends 'base.html' %} {% block content %}
<br />
{% include "menu.html" %}
<table>
  <tr>
    <td style="padding: 20px; vertical-align: top">
      <div class="card">
        <div class="card-header">
          <h1>
            {{ request.user.first_name }} {{ request.user.last_name }}
            <br /><span class="small">
              <a href="/user/{{ profile_user.id }}/"
                >@{{ request.user.username}}</a
              >
            </span>
          </h1>
        </div>
        <div class="card-body">
          <h4 class="card-text">Tweets: {{ number_tweets }}</h4>
          <h4>Following:</h4>
          <a href="/logout/" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </td>
    <td style="padding: 20px; vertical-align: top">
      <h2>Notifications</h2>
      {% if notification_tweet != '' %} {% for tweet in notification_tweet %}
      <h3>
        <span class="small"
          ><a href="/user/{{ tweet.notification_tweets.twitter_user.id}}/"
            >@{{ tweet.notification_tweets.twitter_user }}</a
          >
          -
          <a href="/tweet/{{ tweet.notification_tweets.id }}/"
            >{{tweet.notification_tweets.submission_time}}</a
          ></span
        ><br />
        {{ tweet }}
      </h3>
      {% endfor %} 
      {% else %}
      <h3>You have no notifications.<h3>
      {% endif %}
    </td>
  </tr>
</table>
<br />
{{delete_info}} {% endblock %}
