{% extends 'base.html' %} {% block content %}
<br />
{% include "menu.html" %}
<table>
  <tr>
    <td style="padding: 20px; vertical-align: top">
      {% if request.user.is_authenticated %} {% include "profile.html" %}
      {%endif %}
    </td>
    <td style="padding: 20px; vertical-align: top">
      {% if not tweet %}
      <h1>The tweet you are looking for does not exist.</h1>
      {% else %}
      <h2>Tweet Details</h2>
      <h3>
        <span class="small"
          ><a href="/user/{{ tweet.twitter_user.id }}/"
            >@{{ tweet.twitter_user }}</a
          >
          - <a href="/tweet/{{ tweet.id }}/">{{tweet.submission_time}}</a></span
        ><br />
        {{ tweet.body }}
      </h3>
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
