{% extends 'base.html' %} {% block content %}
<br />
{% include "menu.html" %}
<br /><br />
<table>
  <tr>
    <td class="profile_td">
      {% include "profile.html" %}
      <br />
      {% if request.user.is_authenticated and relationship_status %}
      <a
        href="/user/removefollow/{{selected_user.username}}"
        class="btn btn-success"
        >UnFollow @{{ selected_user }}</a
      >
      {% else %}
      <a
        href="/user/addfollow/{{selected_user.username}}"
        class="btn btn-success"
        >Follow @{{ selected_user }}</a
      >
      {% endif %}
    </td>
    <td class="main_td">
      <h2>
        <a href="/user/{{ selected_user.id }}/">@{{ selected_user }}</a>'s
        Tweets
      </h2>
      {% for tweet in user_tweets %}
      <h3>
        <span class="small"
          ><a href="/user/{{ tweet.twitter_user.id }}/"
            >@{{ tweet.twitter_user }}</a
          >
          - <a href="/tweet/{{ tweet.id }}/">{{tweet.submission_time}}</a></span
        ><br />
        {{ tweet.body }}
      </h3>
      {% endfor %}
    </td>
  </tr>
</table>

<br />
{% endblock %}
